@font-face {
    font-family: 'Roboto';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Light.ttf');
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#master-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* NAVIGATION STYLES */

#nav-container {
    position: fixed;
    margin-left: 32px;
    margin-right: 22px;
    width: calc(100% - 54px);
}

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
    color: #e6e6e6;
}

nav a:hover {
    color: white;
    border-bottom: 2px solid white;
}

nav a:visited {
    color: #e6e6e6;
}

.nav-link {
    border: 1px solid white;
    background-color: rgb(69, 65, 65);
    height: 40px;
    width: 105px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ABOUT STYLES */
#about-container {
    display: flex;
    flex-direction: row;
    height: 360px;
    margin-top: 215px;
    margin-right: 100px;
    margin-left: 100px;
}

#about-title-container {
    margin: 0;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
}

#about-title-role {
    font-size: 40px;
    margin-top: 10px;
    font-family: "Roboto Light", sans-serif;
    color: white;
    line-height: 10px;
}

#about-paragraph-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-size: 12px;
    width: 35%;
}

#see-work-button-container {
    margin-top: 30px;
    display: flex;
}

#see-work-button {
    background-color: #e6e6e6;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 260px;
}

#see-work-link {
    text-decoration: none;
}

#see-work-link:visited {
    text-decoration: none;
    color: black;
}
