@font-face {
    font-family: 'Roboto';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Light.ttf');
}

body {
    background-image: url('/Users/michaelanderson/Desktop/Nova/Images/contact-page-image.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

#master-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* NAVIGATION STYLES */

#nav-container {
    position: fixed;
    margin-left: 32px;
    margin-right: 22px;
    width: calc(100% - 54px);
}

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
    color: #e6e6e6;
}

nav a:hover {
    color:#4a92a3;
    border-bottom: 2px solid #4a92a3;
}

nav a:visited {
    color: #e6e6e6;
}

.nav-link {
    border: 1px solid white;
    background-color: rgb(69, 65, 65);
    height: 40px;
    width: 105px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM STYLES */

#form-master-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-left: 180px;
    color: white;
    font-family: "Roboto Light", sans-serif;
    width: 70%;
}

#form-title-container {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

#form-title {
    margin: 0;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 52, 52);
    padding: 30px 20px 20px 20px;
}

.form-label {
    font-size: 12px;
}

.form-input {
    height: 25px;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Roboto Light", sans-serif;
    font-size: 12px;
    border: 1px solid white;
    background-color: rgb(52, 52, 52);
    color: white;
}

#submit-button-container {
    display: flex;
    margin-left: auto;
}

#submit-button {
    background-color: #e6e6e6;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 170px;
}

#submit-link {
    text-decoration: none;
}

#submit-link:visited {
    text-decoration: none;
    color: black;
}

#form-footer-container {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    background-color: white;
    border-radius: 8px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Light", sans-serif;
    color: white;
    font-size: 12px;
    padding: 0 10px;
}

footer a {
    margin-right: 5px;
    text-decoration: none;
    color: white;
}
