@font-face {
    font-family: 'Roboto';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Light.ttf');
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#master-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* NAVIGATION STYLES */

#nav-container {
    position: fixed;
    margin-left: 32px;
    margin-right: 22px;
    width: calc(100% - 54px);
}

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    font-family: "Roboto Light", sans-serif;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
    color: #e6e6e6;
}

nav a:hover {
    color:#4a92a3;
    border-bottom: 2px solid #4a92a3;
}

nav a:visited {
    color: #e6e6e6;
}

.nav-link {
    border: 1px solid white;
    background-color: rgb(69, 65, 65);
    height: 40px;
    width: 105px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}