@font-face {
    font-family: 'Roboto';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/Users/michaelanderson/Desktop/Nova/Fonts/Roboto/Roboto-Light.ttf');
}

body {
    background-image: url('/Users/michaelanderson/Desktop/Nova/Images/hero-image.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#master-div {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
}

/* NAVIGATION STYLES */

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

nav a:hover {
    color:#4a92a3;
    border-bottom: 2px solid #4a92a3;
}

/* DESCRIPTION SECTION */

#description {
    position: relative;
    margin-left: 20px;
    width: 520px;
}

#designs-header {
    font-size: 48px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'Roboto Light', sans-serif;
}

#soul-para {
    font-size: 20px;
    color: white;
    font-family: 'Roboto Light', sans-serif;
}