#top-section {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 40px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

a {
    text-decoration: none;
}