#top-section {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 40px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

/* NAVIGATION STYLES */

nav {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: turquoise;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
}